@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #151515;
    color: white;
    scroll-behavior: smooth;
  }

  input:disabled {
    cursor: not-allowed;
    opacity: 0.5; /* Optional: to make it visually clear it's disabled */
  }